<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
<bean id = "inner"  class = "com.learn.InnerBeans.InnerBeans" autowire = "byName"  scope = "prototype">
	<constructor-arg index = "0" >
	<bean id = "another" class = "com.learn.InnerBeans.JustAnotherClass"></bean>
	</constructor-arg>
</bean>  
<bean id = "another"  class = "com.learn.InnerBeans.JustAnotherClass" scope = "prototype">
<property name="x" value = "200"></property>
</bean> 
 


</beans>